@page
@model TodoModel
@{
    ViewData["Title"] = "My To Do List";
}
<h1>@ViewData["Title"]</h1>

<p>Use this show todo list.</p>
<h1>Todo List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Is Complete</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TodoItem)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.IsComplete</td>
                <td><a href="UpdateTodo/@item.Id">Edit</a> <a href="DeleteTodo/@item.Id">Delete</a>  </td>
            </tr>
        }
    </tbody>
</table>
